@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Condensed:ital,wght@0,400;1,400&display=swap");

body {
  font-family: "Libre Caslon Condensed", serif;
  color: #454545;
  font-size: 12pt;
  background-color: #fffdd4
}

.heading {
    color: #000000;
}

.important {
    color: #000000;
}

#unimportant {
    color: #999898;
}

#unimportantexample {
    color: #999898;
}

a:link {color: BLUE;}
a:visited {color: PURPLE;}
a:hover {color: GREEN;}
a:active {color: BLACK;}